.sequencer {
  padding-top: 40px;
}

.sequencer-controls {
  padding-bottom: 40px;
}
.sequencer-buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 40px;
}

.sequencer-buttons p {
  background-color:rgb(182, 11, 182);
  padding: 20px 60px;
  border-radius: 60px;
  box-shadow: 0 9px 10px rgb(0, 0, 0);
  cursor: pointer;
}

.sequencer-buttons p:hover  {
  box-shadow: inset 0 3px 5px #000000;
}

.sequencer-buttons p:active  {
  background-color:rgba(182, 11, 182, 0.56);
}

.gain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gain input {
  width: 350px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(20, 20, 20);
  width: 90%;
  margin: 0 auto;
  padding: 5% 0;

}
.grid-row {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: center;
}

@media (max-width: 1100px)  {
  .grid-container {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .grid-container,
  .grid-row {
      gap: 5px;
  }


}